<thf-page-default
  t-title="Welcome">

  <card-count
    [entityCount]="countSpeakers"
    [entityIcon]="iconSpeakers"
    [entityName]="speakers">
  </card-count>

  <card-count
    [entityCount]="countLectures"
    [entityIcon]="iconLectures"
    [entityName]="lectures">
  </card-count>

  <card-count
    [entityCount]="countTracks"
    [entityIcon]="iconTracks"
    [entityName]="tracks">
  </card-count>

  <card-count
    [entityCount]="countNotes"
    [entityIcon]="iconNotes"
    [entityName]="notes">
  </card-count>

</thf-page-default>
