<thf-widget
  t-height="200"
  t-primary-label="Lectures"
  t-secondary-label="Edit"
  (t-primary-action)="detail()"
  (t-secondary-action)="edit()">

  <a [routerLink]="['/speakers/detail/', speaker.id]">
    <thf-avatar
      class="thf-xl-4 thf-lg-3"
      t-size="lg"
      t-src="../../assets/images/{{ speaker.photo }}">
    </thf-avatar>
  </a>

  <div class="thf-xl-8 thf-lg-9 card-description">
    <a class="title-link" [routerLink]="['/speakers/detail/', speaker.id]">
      <p class="thf-font-text-large-bold">{{ speaker.name }}</p>
    </a>
    <p class="thf-font-text">{{ speaker.email }}</p>
  </div>

</thf-widget>
