// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  .logo {
    padding: 54px 0;
    min-height: 200px;
    text-align: center;

    img {
      max-width: 150px;
    }
  }

  .list {
    margin-bottom: 0;
  }
}

.logo ion-icon {
  font-size: 90px;
  color: rgba(5, 45, 62, 0.6);
}

.toaster .toast-wrapper {
  background-color: #c64840;
}

.signup-button {
  color: #476b75;
}
