<thf-page-list
  t-title="Lectures"
  [t-actions]="actions"
  [t-filter]="filter">

  <ng-template [ngIf]="lectures" [ngIfElse]="lecturesNotFound">
    <div *ngFor="let lecture of lectures" class="thf-xl-4 thf-md-6">
      <lecture-card [lecture]="lecture"></lecture-card>
    </div>
  </ng-template>

  <ng-template #lecturesNotFound>
    <thf-widget
      class="thf-offset-lg-4 thf-lg-4">
      <p class="thf-font-text-large text-lecture-not-found">
        There are no lectures available!
      </p>
    </thf-widget>
  </ng-template>

</thf-page-list>

<thf-modal
  #lectureFilterModal
  t-size="sm"
  t-title="Filter"
  [t-primary-action]="confirm"
  [t-secondary-action]="cancel">

  <thf-switch
    class="thf-sm-12 switch-display-all"
    name="display-all"
    [(ngModel)]="displayAll"
    [t-label-position]="labelPosition"
    t-label-off="Mostrar todos"
    t-label-on="Mostrar todos"
    (t-change)="selectAllTracks()"
    ngDefaultControl>
  </thf-switch>

  <div class="thf-row" *ngFor="let track of tracks">
    <div
      class="thf-sm-1 circle circle-border"
      [ngStyle]="{ 'background-color': track.color }"> </div>

    <thf-switch
      class="thf-sm-11 track-row"
      name="switch-{{ track.id }}-{{ track.name }}"
      [(ngModel)]="track.model"
      [t-label-position]="labelPosition"
      [t-label-off]="track.name"
      [t-label-on]="track.name"
      (t-change)="selectTrack(track.id)"
      ngDefaultControl>
    </thf-switch>
  </div>

</thf-modal>
