
ion-item-sliding {
  margin: 5px 0;
}

.schedule-list {
  margin: 10px;
}

.segment-md .segment-button {
  color: white;
}

.segment-md .segment-button.segment-activated {
  border-color: white;
}

.schedule .segment-md .segment-button:not(:first-of-type) {
  font-size: 14px;
}

.schedule ion-segment {
  margin: 10px 10px 10px 16px;
  width: inherit;
}

.schedule-input-search .searchbar-input {
  box-shadow: inset 0 1px 8px 0 rgba(0, 0, 0, 0.1) !important;
}

.schedule-no-lectures-found {
  border: 0;
}
