<thf-page-edit
  t-title="{{ title }}"
  [t-disable-submit]="formSpeaker.invalid">

  <form #formSpeaker="ngForm">

    <div class="thf-row">
      <thf-input
        class="thf-lg-8"
        name="name"
        [(ngModel)]="speaker.name"
        t-clean
        t-label="Name"
        t-required>
      </thf-input>
    </div>

    <div class="thf-row">
      <thf-email
        class="thf-lg-4 thf-md-6"
        name="email"
        [(ngModel)]="speaker.email"
        t-clean
        t-label="Email"
        t-required>
      </thf-email>

      <thf-select
        class="thf-lg-4 thf-md-6"
        name="photo"
        [(ngModel)]="speaker.photo"
        t-label="Photo"
        [t-options]="photoOptions"
        t-required>

        <ng-template t-select-option-template let-option>

          <div class="select select-avatar">
            <thf-avatar
              class="thf-sm-2"
              t-size="md"
              t-src="../../assets/images/{{option.value}}">
            </thf-avatar>

            <div>{{ option.label }}</div>
          </div>
        </ng-template>
      </thf-select>
    </div>


    <div class="thf-row">
      <thf-textarea
        class="thf-lg-8"
        name="description"
        [(ngModel)]="speaker.description"
        t-label="Description"
        t-required>
      </thf-textarea>
    </div>

  </form>

</thf-page-edit>
