<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Notes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      Header
    </ion-card-header>
    <!-- <ion-card-content>
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
    </ion-card-content> -->
    <ion-list>
      <button ion-item>
        The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
      </button>

    </ion-list>
  </ion-card>

</ion-content>
